.footer-text {
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-size: 12px;
  color: rgb(3, 3, 3);
  position: relative;
  top: 65px;
}

a {
  color: rgb(3, 3, 3);
}

a:hover {
  color: #FF5161;
}
