.row {
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin: 20px auto 0px;
  position: relative;
  top: 25px
}

.col {
  text-align: center;
  font-family: "Lexend", sans-serif;
  color: #fff;
  padding: 0;
  margin: 10px auto 5px;
}

.forecast-icon canvas {
  text-align: center;
  font-size: 2px;
}
