form {
  text-align: center;
  margin: 20px auto 21px;
  max-width: 500px;
}

#city-input {
  border-radius: 10px;
  border: none;
  background-color: #fff;
  color: #b4aee8;
  font-family: "Lexend", sans-serif;
  box-shadow: 4px 4px 10px rgba(70, 68, 68, 0.3);
}

#search-button {
  border-radius: 20px;
  border: 1px #b4aee8;
  background-color: #fff;
  color: #b4aee8;
  font-family: "Lexend", sans-serif;
  transition: all 200ms ease-in-out;
  margin: 5px 15px;
  padding: 5px 10px;
  box-shadow: 4px 4px 10px rgba(70, 68, 68, 0.3);
}

#search-button:hover {
  background-color: #ff1a47;
  color: #fff;
  cursor: pointer;
}

h1,
h2 {
  text-align: center;
  list-style-type: none;
  display: block;
  margin: 0 auto;
  line-height: 1;
  font-size: 25px;
  color: #fff;
  padding: 0px;
  font-family: "Lexend", sans-serif;
  margin: 5px;
}

h3 {
  text-align: center;
  margin: 0 auto 10px;
  font-family: "Lexend", sans-serif;
  line-height: 1;
  font-size: 20px;
  color: #fff;
  max-width: 600px;
  font-weight: lighter;
  margin: 5px;
}

#current-city {
  font-size: 35px;
  font-weight: bolder;
  text-transform: capitalize;
}

.main-icon canvas {
  display: block;
  text-align: center;
  margin: 15px auto 20px;
  color: #fff;
  position: relative;
  top: 10px;
}
